
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* box-shadow: none !important; */
    font-family: 'DM Sans'; 
}
.pageone .container-fulid{
    padding: 0 !important;
    background-color: #f0f1f5;
    margin: auto;
    max-width: 1900px;
} 
.SideBar{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(149.96deg, #301F81 12.51%, #0F0441 89.53%);
}
.logo{
    border-bottom:solid rgb(117, 120, 123);
    padding: 15px 20px;
}
.logo h4{
    color: aliceblue;
    font-size: 23px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
}
.logo h3{
    color: aliceblue;
    font-size: 23px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0em;
}
.menubar{
    flex: 1;
    margin-top: 50px;
    margin-bottom: 50px;
   padding-left: 10px;
   padding-right: 10px;
}
.menubar ul{
    padding: unset;
}
.menubar li{
   list-style-type: none;
   padding: 10px;
}
.menubar a{
   text-decoration: none;
   color: #FFFFFFB2;
   font-size: 16px;
   font-weight: 500;
   line-height: 30px;
   letter-spacing: -0.02em;
}
.menubar i{ 
   margin-right: 20px;
}
.menubar li:hover{
    background: #FFFFFF21;
    border-radius:5px;
}
.SideBar .footer{
    display: flex;
    border-top: 1px solid #ababab;
    padding: 20px;
}
.SideBar .footer h6{
    color: aliceblue;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
}
.Top{
    display: flex;
    padding: 10px;
}
.Mainpage{
    flex: 1;
    margin-left:214px;
}
.feed{
    background-color: #ffffff;
    border-radius: 10px;
}
.lefttop {
    flex: 1;
}
.lefttop h6{
    color: #707EAE;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
}
.lefttop h4{
    color: #2B3674;
    margin: 0;
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.02em;
} 
.searchbar{
    display: flex;
    background-color: rgb(255, 255, 255);
    align-items: center;
    border-radius: 30px;
}
.searchbar i{
    padding-left: 10px;
    padding-right: 5px;
}
.searchspace i{
    color: #2B3674;
}
.searchspace input{
    border: none;
    background-color: #f0f1f5;
    padding: 10px;
    border-radius: 49px;
}
.searchrightimg i{
    color: #A3AED0;
}
.searchrightimg img{
    border-radius: 30px;
    margin-right: 10px;
}
.Employeelist {
   display: flex;    
   padding: 10px;
}
.Employeelist h3{
    margin-right: 20px;
    color: #2B3674;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.02em;
}
.Employeelist .form-select{
    width: 60px;
    margin-right: 10px;
}
.Employeelist h6{
    flex: 1;
    color: #333333;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    margin-top: 10px;
}
.list img {
    margin-right: 10px;
    border-radius: 30px;
}
.list table thead th{
    color: #8B95B7;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    white-space: nowrap;
}
.list table td {
   color: #2B3674;
   font-size: 14px;
   font-weight: 700;
   line-height: 24px;
   letter-spacing: -0.02em;
   text-align: left;
   white-space:nowrap;
}
.list table th {
    color: #2B3674;
    color: #2B3674;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
}
.list table thead th i{
    font-size: 9px;
}
.pagination{
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: flex-end;
}
.list tbody i{
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    color: #4318FF;
    background-color: #f0f1f2;
}
.Mainpage .footer{
    border-top: 1px solid #0000002B;
    display: flex;
    padding: 20px 10px;
}
.footer h6{
    color: #707EAE;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
    letter-spacing: -0.02em;
}
.footerleft{
    flex: 1;
}
.footerright{
    display: flex;
    gap: 20px;
}.containerform {
    /* display: none; */
   padding: 50px;
}
.part{
    border-radius: 10px;
    background-color: #f0f1f2;
}
.submmitemploye{
    /* display: none; */
    padding: 50px;
 }

 .part{
     border-radius: 10px;
     background-color: #f0f1f2;
 }
.header{
    display: flex;
}
.modal-header h1{
    flex: 1;
    color:  #2B3674;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
}
.header i{
    color: #4318FF;
}
label{
    font-weight: 500;
    font-size: 14px;
    color:  #2B3674;
}
.form-select{
    font-Weight:400;
    Size:14px;
    color: #949DB9;
}
form{
    padding-top: 20px;
    padding-bottom: 20px;
}
.radio-inline{
    display: flex;
    gap: 7px;
}
.form-range::-webkit-slider-runnable-track{
    background-color: rgb(237, 237, 237);
}
.row{ 
    gap: 10px;
    padding: 10px;
}
.col{
    border-radius: 10px;
}
.col .radio{    
    margin-top: 13px;
   display: flex;
   gap: 20px;
}
span{
    color: chocolate;
    font-size: 20px;
}
.card {
    padding: 25px;
    border:2px dashed;
    color: rgb(195, 200, 200);
    align-items: center;
}
.col-choose{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.col-choose h6{
    border: solid;
    padding: 10px 20px;
    border-radius: 15px;
    border-color: rgb(209, 213, 216);
    color: rgba(89, 83, 83, 0.823);
}

.card-body input{
    opacity: 0;
    position: relative;
    z-index: 1;
}
.form-select{
 font-Weight:400;
 Size:14px;
 color: #949DB9;   
font-size: 14px;
}
.form-control{
    width: 100%;
}
.form-control::placeholder{
    font-Weight:400;
    Size:14px;
    color: #949DB9;
    font-size: 14px;
}
.checks{
    margin-top:6px;
}
.upload{
     position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upload h5{
    color: #4318FF;
    font-size: 16px;
    font-weight: 700;
}
.upload h6{
   font-size: 12px;
   font-weight: 500;
}
.upload i{
    color: #4318FF;
    margin-bottom: 5px;
}
.lastssection{
    display: flex;
    justify-content: flex-end;
}
#inputover{
    color: #949DB9 !important;
}
 .lastssection .btn-light{
    color: #2B3674;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
}
.lastssection .btn-primary{
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
    background: #4318FF;

}
.imggeee{
    display: inline-block;
    padding: 20px;
    border-radius: 13px;
    border: 3px dashed #b3b5bc
    ;
}
/* =========================4TH PAGE================================= */
.deletsection 
{
    display: none;
    max-width: 700px;
    margin: 200px auto 200px auto;
    /* padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 300px;
    padding-right: 200px; */
}
.deletemploye {
    display: flex;
    justify-content: space-between;
}
.deletemploye 
    h1{
    color: #2B3674;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;
}
.deleteoption i{
    color: #4318FF;
    padding: 10px; 
    border-radius: 5px;
    background-color: #eeeeef;
}
.deleteoption p{
    color: #2B3674;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;

}
.deletsection button  {
    color: #2B3674; 
   font-size: 15px;
   font-weight: 700;
   line-height: 24px;
   letter-spacing: -0.02em;
   text-align: center;
}

/* =================== 5 TH PAGE====================== */

.profile .container-fulid{
    padding: 0 !important;
    background-color: #e3e7ea;
    margin: auto;
    max-width: 1900px;
}
.profile .container-sm{
    max-width: 770px;
    background-color: #f4f1f1;
    border-radius: 20px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}
.Backgroundimg{
  padding-top: 20px;
  margin-bottom: 60px;
}
.profileimg{
    position: absolute;
    top: 180px;
}
.centerview{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}
.centerview h5{
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #2B3674;
}
.centerview h6{
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #707EAE;
}
.group .col h6{
    color: #707EAE;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: left;
}
.group .col h5{
    color: #2B3674;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-align: left;  
}
.profilebutton{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
.profilebutton button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius:16px
}
.profilebutton .btn-primary{
    background: #4318FF !important;
}
.group .col{
    padding: 20px;
    box-shadow: 0px 18px 40px 0px #7090B01F;

}
#addbtn{
    display: none;
}

















/* =============================== */

.modal-dialog{
    max-width: 800px !important;
    margin: 0 auto;
}































@media screen and (max-width:575px) {
    .row{
        display:grid;
    }
}